@tailwind base;
@tailwind components;
@font-face {
    font-family: "IBMPlexSansArabic-Medium";
    src: url("./fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Medium.ttf");
}
@font-face {
    font-family: "IBMPlexSansArabic-Regular";
    src: url("./fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf");
}
@tailwind utilities;